.modal {
    display: none; /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
    z-index: 1000;
}

.modal.show {
    display: flex; /* Mostrar el modal cuando tenga la clase 'show' */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

#story-source-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#story-preview-container {
    display: none; /* Ocultar la vista previa por defecto */
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

#preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#story-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}